<div class="container">
  <h1 class="hello">HELLO</h1>
  <div class="name">
    <h2>
      I’m <br />
      RIC RIC
    </h2>
    <span></span>
    <p>Front End Developer</p>
  </div>
  <img class="potato-shape" [src]="potatoshape" />
</div>
<section class="credential">
  <img [src]="line" class="line" />
  <div class="credentials">
    <h3>Jerick Signapan, Admin of StuDevPhil</h3>
    <br />
    <p>
      "Design is not just what it looks like and feels <br />
      like. Design is how it works."
    </p>
  </div>
</section>
